<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/cryptocalculator.css">

  <title>Currency Calculator</title>

</head>

<body>


<div id="app">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Currency Calculator</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <router-link to="/rates" class="nav-link" href="#">Currency Rates</router-link>
      </li>

      <li class="nav-item">
        <router-link to="/calculate" class="nav-link" href="#">Calculate</router-link>
      </li>

    </ul>
  </div>

</nav>

  <div style="margin-top: 20px"></div>
  <h3 class="ml-5" style="color: red">Warning: This is a test site and the values are not real!</h3>
  <div style="margin-bottom: 20px"></div>

    <div  class="container">

      <div class="row">

        <router-view></router-view>

      </div>

    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- development version, includes helpful console warnings -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script type="text/javascript">

      Vue.component('currency-component', {
        props: ['currency'],
        template: `
          <div class="input-group mb-1">
            <div class="input-group-prepend input-heading">
             <span class="input-group-text">{{currency.sign}}</span>
            </div>
          <input id="currency.name" type="text" v-model='currency.value' class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" v-on:click="$emit('compute-values', currency.value, currency.name)">Go</button>
            </div>
          </div>
        `
      });

      Vue.component('currency-display-component', {
        props: ['currency'],
        template: `
          <div class="input-group mb-1">
            <div class="input-group-prepend input-heading">
             <span class="input-group-text">{{currency.sign}}</span>
            </div>
          <input id="currency.name" type="text" v-model='currency.value' class="form-control" aria-label="Amount">

          </div>`
      });

      function compute(value, currency) {
        var This = this;


        $.get("calculate?currency=" + currency + "&amount=" + value, function (data) {
          var calculatedValues = data;
          console.log(value);

          $.each(calculatedValues, function (key, value) {

            This.currencies.forEach(element => {
              if (key === element.name) {
              element.value = value;
            }
          });
          });

        });

      }

      Vue.component('currency-list', {

        data: function () {
          return {
            currencies: [
              {name: 'eur', sign: '€', value: ''},
              {name: 'usd', sign: '$', value: ''},
              {name: 'btc', sign: 'Btc', value: ''},
              {name: 'eth', sign: 'Eth', value: ''},
              {name: 'ltc', sign: 'Ltc', value: ''},
              {name: 'miota', sign: 'Miota', value: ''}],
            value: ''
          }  },
        template: `<div><h4>Calculator</h4><currency-component v-for="currency in currencies" v-bind:key="currency.name"
             v-bind:currency="currency" v-on:compute-values="compute"></currency-component></div>`,
        methods:
                {
                  compute: compute
                }
      });

      Vue.component('rates', {

        data: function () {
          return {
            currencies: [
              {name: 'eur', sign: '€', value: ''},
              {name: 'usd', sign: '$', value: ''},
              {name: 'btc', sign: 'Btc', value: ''},
              {name: 'eth', sign: 'Eth', value: ''},
              {name: 'ltc', sign: 'Ltc', value: ''},
              {name: 'miota', sign: 'Miota', value: ''}],
            value: ''
          }  },
        template: `<div>
                    <h4>Currency Rates</h4>
                    <div style="margin-top: 20px">
                    <span class="font-weight-bold mr-lg-3">Base&nbsp;&nbsp;</span>
                    <button type="button" class="btn btn-outline-primary" v-on:click="compute(1, 'btc')">Btc</button>
                    <button type="button" class="btn btn-outline-primary" v-on:click="compute(1, 'eur')">EUR €</button>
                    <button type="button" class="btn btn-outline-primary" v-on:click="compute(1, 'usd')">USD $</button>
                    </div>
                    <div style="margin-top: 10px"></div>

                    <div><currency-display-component v-for="currency in currencies" v-bind:key="currency.name"
                        v-bind:currency="currency"></currency-display-component></div>

                    </div>`,
        methods:
                {
                  compute: compute
                }
      });

      const rates = { template: `<div><rates></rates></div>` }
      const calculator = { template: `<div><currency-list ></currency-list></div>` }

      const routes = [
        { path: '/', component: rates },
        { path: '/rates', component: rates },
        { path: '/calculate', component: calculator },

      ]

      const router = new VueRouter({
        routes // short for `routes: routes`
      })

      var app = new Vue({
        el: '#app',
        router
      });

    </script>

</body>

</html>
